<body style="
    text-align: center;
    background-color: white;
    background-image:url(http://www.youngfam.co/wp-content/uploads/2012/10/children-globe-top.jpg);
    background-repeat: no-repeat;
    background-position: absolute;
    ">

	<h1 style="
	      display: block; 
	      font-size: 2em; 
	      text-align: center; 
	      font-family: helvetica;
	      text-decoration: underline;
	      color: #00BFFF;">Editing Center</h1>

</body>

<%= render 'form' %>

<%= link_to 'Show', @center %> |
<%= link_to 'Back', centers_path %>
